{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/aba_pagina.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/guido.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Ele acha que é o Protagonista</h1>
    <video class="video-farmando-aura" autoplay loop>
        <source src="{% static 'img/guido/guido_video.mp4' %}" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
    </video>

</body>
</html>