{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'img/aba_pagina.png' %}" type="image/png" />
    <link rel="stylesheet" href="{% static 'css/lucas.css' %}" />
    <title>Lucas</title>
</head>
<body>
    <h1>LUUUUUUUUUUUUUUUUUUUUCAAAAAAAAAAAAAAAAAAAAASSSSSSSSSSSSSSSSSSSSSSSSS</h1>

    <div class="video-container">
        <!-- Frase que vai mudar -->
        <h2 id="videoCaption" class="video-caption">Arco de treinamento do Lucas</h2>

        <button class="arrow-button left" onclick="changeVideo(-1)">&#8592;</button>

        <video id="mainVideo" class="video-farmando-aura" autoplay loop>
            <source id="videoSource" src="{% static 'img/lucas/lucas_video.mp4' %}" type="video/mp4" />
            Seu navegador não suporta o elemento de vídeo.
        </video>

        <button class="arrow-button right" onclick="changeVideo(1)">&#8594;</button>
    </div>

    <script src="{% static 'js/lucas.js' %}"></script>
</body>
</html>
