{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'img/aba_pagina.png' %}" type="image/png" />
    <link rel="stylesheet" href="{% static 'css/luis.css' %}" />
    <title>Luis</title>
</head>
<body>
    <h1>LUIIIIIIIIIIIIIISSSSSSSSSSSS</h1>
    <div class="video-container">
        <h2 id="videoCaption" class="video-caption"></h2>

        <button class="arrow-button left" onclick="changeMedia(-1)">&#8592;</button>

        <video id="mainVideo" class="video-player" autoplay loop>
            <source id="videoSource" src="" type="video/mp4" />
            Seu navegador não suporta o elemento de vídeo.
        </video>

        <button class="arrow-button right" onclick="changeMedia(1)">&#8594;</button>

        <button id="volumeButton" class="volume-button">&#128264;</button>
    </div>

    <div id="time-control-container" class="time-control-container">
        <input type="range" id="timeSlider" min="0" max="100" value="0" />
        <span id="timeDisplay">00:00 / 00:00</span>
    </div>

    <script src="{% static 'js/luis.js' %}"></script>
</body>
</html>