{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/aba_pagina.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/characters.css' %}">
    <title>Personagens</title>
</head>
<body>
    <h1 class="title">Personagens</h1>
    
    <div class="character-grid">
        
        {% for nome in personagens %}
        <div class="character-card">
            <a href="{% url 'pagina_personagem' nome %}">
                <img src="{% static 'img/'|add:nome|add:'/'|add:nome|add:'.png' %}" alt="{{ nome|title }}">
            </a>
            <p>{{ nome|title }}</p>
        </div>
        {% endfor %}
        
    </div>

    <div>
        <p><a class="return" href="#">Voltar para a Página Inicial</a></p>
    </div>
    <script src="{% static 'js/no_chr/ordenar_personagem.js'%}"></script>
    </body>
</html>