{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/aba_pagina.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Página Inicial</title>
</head>
<body>
    <div>
        <h1>Bem-vindo ao Mangá do Luquinhas!</h1>
    </div>
    <div>
        <footer>
            <a href="{% url 'history' %}"><dl>História</dl></a>
            <a href="{% url 'characters' %}"><dl>Personagens</dl></a>
            <a href="{% url 'chapters' %}"><dl>Capítulos</dl></a>
            <a href="{% url 'about' %}"><dl>Sobre</dl></a>
        </footer>

    <div style="text-align: center; padding-bottom: 1rem; font-size: 0.9rem; color: #888;">
        Versão: {{ commit_info }}
    </div>

    <div class="changelog-box-container">
        <div class="changelog-box">
            <h2>Changelog</h2>
            {% if changelog %}
            <ul>
            {% for entry in changelog %}
                <li>
                <strong>{{ entry.date }}</strong> — 
                <code>{{ entry.hash }}</code> — 
                {{ entry.message }}
                </li>
            {% endfor %}
            </ul>
            {% else %}
            <p>Nenhum commit recente encontrado.</p>
            {% endif %}
        </div>
    </div>



    </div>
</body>
</html>