{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/aba_pagina.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Página Inicial</title>
</head>
<body>
    <div>
        <h1>Bem-vindo ao Mangá do Luquinhas!</h1>
    </div>
        <div>
            <footer>
                <a href="{% url 'history' %}"><dl>História</dl></a>
                <a href="{% url 'characters' %}"><dl>Personagens</dl></a>
                <a href="{% url 'chapters' %}"><dl>Capítulos</dl></a>
                <a href="{% url 'about' %}"><dl>Sobre</dl></a>
            </footer>

        <div class="commit-info">
            Versão: {{ commit_info }}
        </div>

        <div class="changelog-box-container">
            <div class="changelog-box">
                <h2>Changelog</h2>
                <ul>
                    {% if changelog %}
                    {% for commit in changelog %}
                    <li>- {{ commit.message }}{% if commit.date %} – {{ commit.date }}{% endif %}</li>
                    {% endfor %}
                    {% else %}
                    <li>Nenhum commit recente encontrado.</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>